KUBE_ETCD_SERVERS="--etcd-servers=https://etcd.kube-master.ashishnepal.com:2379 --etcd-cafile=/srv/kubernetes/etcd/ca.pem --etcd-certfile=/srv/kubernetes/etcd/client.pem --etcd-keyfile=/srv/kubernetes/etcd/client-key.pem"
KUBE_LOGTOSTDERR="--logtostderr=true"
KUBE_LOG_LEVEL="--v=0"
KUBE_ALLOW_PRIV="--allow-privileged=false"
KUBE_MASTER="--master=https://api.kube-master.ashishnepal.com:6443"
