ETCD_NAME="{{hostvars[inventory_hostname]['ansible_hostname']}}"
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="https://{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}:2379,https://127.0.0.1:2379"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}:2380"
#ETCD_INITIAL_CLUSTER=""
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="somerandomname"
ETCD_ADVERTISE_CLIENT_URLS="https://{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}:2379"
ETCD_AUTO_TLS="true"
ETCD_PEER_AUTO_TLS="true"
