#!/usr/bin/env python
# coding=utf-8

import json
import urllib2
from socket import gethostname
from collections import OrderedDict
import string
import re
import os

req = urllib2.Request("http://{{ internal_etcd_elb_hostname }}:2379/v2/members")
opener = urllib2.build_opener()
f = opener.open(req)
values = json.loads(f.read(), object_pairs_hook=OrderedDict)
for memberlist in values['members']:
            for name, peerURLs in memberlist.iteritems():
                if name in ('name','peerURLs'):
                    if memberlist.get(name):
                        member_name=unicode(name)
			member_value=unicode(peerURLs)

                    else:
                        member_name=name
			member_value=gethostname()
  
		    rep = {"[u'": "=", "']": ","}
            	    rep = dict((re.escape(k), v) for k, v in rep.iteritems())
            	    pattern = re.compile("|".join(rep.keys()))
            	    int_member_list = pattern.sub(lambda m: rep[re.escape(m.group(0))], member_value)
            	    print int_member_list,
