KUBE_CONTROLLER_MANAGER_ARGS="--master=http://127.0.0.1:8080 --cluster-name=goodness --root-ca-file=/srv/kubernetes/ca.crt --service-account-private-key-file=/srv/kubernetes/server.key --leader-elect=true"
