# [member]
ETCD_NAME="{{hostvars[inventory_hostname]['ansible_hostname']}}.etcd.kube-master.ashishnepal.com"
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="https://{{hostvars[inventory_hostname]['ansible_hostname']}}.etcd.kube-master.ashishnepal.com:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{hostvars[inventory_hostname]['ansible_hostname']}}.etcd.kube-master.ashishnepal.com:2379,https://127.0.0.1:2379"

#[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{hostvars[inventory_hostname]['ansible_hostname']}}.etcd.kube-master.ashishnepal.com:2380"
ETCD_INITIAL_CLUSTER="{% for item in groups['tag_Role_kube_etcd'] %}{{ hostvars[item]['ansible_hostname']}}.etcd.kube-master.ashishnepal.com=https://{{ hostvars[item]['ansible_hostname'] }}.etcd.kube-master.ashishnepal.com:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="somerandomname"
ETCD_ADVERTISE_CLIENT_URLS="https://{{hostvars[inventory_hostname]['ansible_hostname']}}.etcd.kube-master.ashishnepal.com:2379"

#[proxy]

#[security]
ETCD_TRUSTED_CA_FILE=/srv/kubernetes/etcd/ca.pem
ETCD_CERT_FILE=/srv/kubernetes/etcd/client.pem
ETCD_KEY_FILE=/srv/kubernetes/etcd/client-key.pem
ETCD_PEER_TRUSTED_CA_FILE=/srv/kubernetes/etcd/ca.pem
ETCD_PEER_CERT_FILE=/srv/kubernetes/etcd/client.pem
ETCD_PEER_KEY_FILE=/srv/kubernetes/etcd/client-key.pem
ETCD_PEER_CLIENT_CERT_AUTH=true

#[logging]
